img {
    text-align: right;
    width: 100%;
    margin-left: 10px;
}

body {
    background-color: lightgray;
}

nav {
    background-color: #4e555b;
}

a {
    !important;
    color: lightgray;
}

.info {
    margin-top: 80px;
}

